body {
  background-color: #afc5ff80;
  font-family: "Quicksand", serif;
}
header {
  display: block;
}
h1 {
  color: #ff9c6d;
}

p {
  color: navy;
  font-weight: 600;
}

#temp {
  color: #ff9c6d;
  font-size: 36px;
  padding: 10px;
}

.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
img {
  max-width: 150px;
  padding: 5px;
}
a {
  text-decoration: none;
  color: #fd5959;
}
hr {
  margin: 20px 10px;
  color: #afc5ff;
  max-width: 90%;
}
.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  padding: 25px 50px;
  background-color: white;
  border-radius: 20px;
  width: fit-content;
}

.search-input {
  font-family: "Quicksand", serif;
  border: 1px solid #ff9c6d;
  border-radius: 20px;
  background-color: #fcff8280;
  padding: 10px 15px;
  margin: 10px;
  width: 80%;
  max-width: 500px;
}
.search-input:focus {
  outline: none;
  border: 2px solid #ff9c6d;
}
.search-btn {
  font-family: "Quicksand", serif;
  font-weight: bold;
  border: 1px solid #ff9c6d;
  border-radius: 20px;
  background-color: #fcff8280;
  padding: 10px 15px;
  margin: 10px;
  color: #fd5959;
  transition: all 200ms ease-in-out;
  width: auto;
  flex-grow: 1;
}
.search-btn:hover {
  color: #fcff82;
  background-color: #fd5959;
}
.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
}

.weather-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.current-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.current-temp {
  font-size: 36px;
  padding: 10px;
}

.weather-details {
  display: block;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: large;
}

.forecast {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.forecast-day {
  color: navy;
}

.forecast-max {
  color: #fd5959;
}
.forecast-min {
  color: #fd5959;
  font-weight: normal;
}

#search-ideas {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 5px;
}

/*responsiveness*/

@media (max-width: 768px) {
  .search-input {
    width: 90%;
    max-width: 400px;
  }
  #search-ideas {
    flex-direction: column;
    align-items: center;
  }
  .search-btn {
    width: 90%;
    flex-grow: 0;
  }
}

@media (max-width: 480px) {
  .search-input {
    width: 95%;
    max-width: 400px;
  }
  .search-btn {
    width: 95%; /* Make the button take up 95% width */
    flex-grow: 0; /* Prevent the button from growing excessively */
  }
}
